@import 'mixins.less';
@import './github-markdown.css';
@import '../../../node_modules/font-awesome/css/font-awesome.min.css';

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url('../fonts/OpenSans-Regular.ttf');
}

html,
body,
#page {
    margin: 0;
    padding: 0;
    height: 100%;
}

.canvas {
    font-family: OpenSans;
    height: 100%;

    #home-page {

    }

    #presentation-page {
        height: 100%;

        #top-panel {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 20px;
            background-color: #000;
            color: #fff;
            overflow: hidden;
            .transition (0.5s);

            #top-panel-head {
                position: relative;
                height: 20px;
                text-align: center;
                .background-gradient-twoColor(#444, #222);
                color: #fff;
                cursor: pointer;

                #top-panel-pulldown-trigger {
                    line-height: 20px;
                }

                #top-panel-progress-bar {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 30%;
                    height: 20px;
                    background-color: #0f0;
                    .opacity(0.5);
                    .transition(1s);
                }
            }

            #top-panel-body {

            }

            &:hover {
                height: 50%;
            }
        }

        #stage-container {
            .box-sizing(border-box);
            padding-top: 20px;
            height: 100%;

            #stage {
                height: 100%;
            }
        }

        #presentation-container {
            .box-sizing(border-box);
            padding-top: 20px;
            height: 100%;

            #presentation {
                height: 100%;
            }
        }
    }

    #controller-page {

    }
}
