@import 'mixins.less';
@import './github-markdown.css';
@import '../../../node_modules/font-awesome/css/font-awesome.min.css';
@import '../../../node_modules/ample-alerts/build/styles/ample-alerts.css';

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url('../fonts/OpenSans-Bold.ttf');
}

html,
body,
#page {
    margin: 0;
    padding: 0;
    height: 100%;
}

.canvas {
    font-family: OpenSans;
    height: 100%;
    background-image: url('../images/pexels-photo-64778.jpg');
    background-size: cover;

    .hidden {
        display: none !important;
    }

    .disabled {
        cursor: not-allowed !important;
        .opacity(0.5);
    }

    .regular-text {
        color: #fff;
        text-shadow: 0 0 20px #000;
    }

    .control-button {
        display: inline-block;
        min-width: 40px;
        height: 30px;
        border: 2px solid #fff;
        .round-borders(5px);
        cursor: pointer;
        padding: 5px;
        margin: 0 5px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        text-align: center;
        line-height: 30px;
        box-shadow: 0 0 10px #000;

        &.active {
            background-color: #ccc;
            color: #000;
        }

        &:hover {
            background-color: #fff;
            color: #000;
        }
    }

    #home-page {
        display: table;
        width: 100%;
        height: 100%;

        #center-panel {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 100%;
            height: 100%;

            h1,
            h2 {
                font-weight: normal;
            }

            a {
                text-decoration: none;
                margin-left: 3px;
            }
        }
    }

    #presentation-page {
        height: 100%;

        #top-panel {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 20px;
            .background-gradient-twoColor(#000, transparent);
            color: #fff;
            overflow: hidden;
            z-index: 3;
            .transition (0.5s);

            #top-panel-head {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 20px;
                text-align: center;
                .background-gradient-twoColor(#444, #222);
                color: #fff;
                cursor: pointer;

                #top-panel-pulldown-trigger {
                    line-height: 20px;
                }

                #top-panel-progress-bar {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 20px;
                    .background-gradient-twoColor(#0f0, #070);
                    .opacity(0.5);
                    .transition(1s);
                }

                #top-presentation-title-text {
                    position: absolute;
                    top: 0;
                    left: 2px;
                    height: 20px;
                    line-height: 20px;
                    font-size: 0.7em;
                    text-shadow: 0 0 5px #000;
                }

                #controller-connection-icon {
                    position: absolute;
                    top: 0;
                    right: 2px;
                    line-height: 20px;
                }
            }

            #top-panel-body {
                margin-top: 20px;

                .controls-row {
                    padding: 10px;

                    .controls-row-header {
                        margin: 5px 0px;
                        text-shadow: 0 0 10px #000;
                    }

                    #qr-code-image {
                        display: inline-block;
                        width: 150px;
                        height: 150px;
                        background-size: 100%;
                    }

                    #controller-url-link {
                        display: inline-block;
                        padding: 2px;
                        background-color: #aaa;
                        .round-borders(3px);
                    }
                }
            }

            &:hover {
                height: 70%;
            }
        }

        #stage-container {
            .box-sizing(border-box);
            padding-top: 20px;
            width: 100%;
            height: 100%;
            overflow-y: auto;

            #stage {
                position: relative;
                width: 100%;
                text-align: center;
                top: 50%;
                .transform(translateY(-50%));
                cursor: default;

                h1,
                h2 {
                    font-weight: normal;
                    text-decoration: underline;
                }
            }
        }

        #presentation-container {
            .box-sizing(border-box);
            padding-top: 20px;
            height: 100%;
            background-color: #ccc;

            #presentation {
                .perspective(500px);
                .box-sizing(border-box);
                padding: 10px;
                height: 100%;
                overflow: hidden;

                #slides-holder {
                    position: relative;
                    margin: 0 auto;
                    width: 100%;
                    height: 100%;
                    max-width: 960px;
                    .perspective(500px);
                }

                .slide {
                    .box-sizing(border-box);
                    margin: 0 auto;
                    max-width: 960px;
                    overflow-y: scroll;
                    background-color: #fff;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    padding: 25px 50px;
                    height: 100%;
                    border: 1px solid #fff;
                    box-shadow: 0 0 5px #888;

                    &.visible {
                        z-index: 3;

                        * {
                            .transition(1s);
                        }
                    }

                    &.first-slide {
                        filter: invert(1);
                        z-index: 2;

                        .slide-contents {
                            text-align: center;
                            position: relative;
                            top: 50%;
                            .transform(translateY(-50%));
                        }
                    }
                }

                &.fade {

                    .slide {
                        .transition(1s opacity ease-in-out);

                        .opacity(0);

                        &.visible {
                            .opacity(1);
                        }
                    }
                }

                &.scroll-down {

                    .slide {
                        .transition(1s ease-in-out);

                        &.previous {
                            .transform(translateY(-120%));
                            .opacity(0);
                        }

                        &.visible {

                        }

                        &.next {
                            .transform(translateY(120%));
                            .opacity(0);
                        }
                    }
                }

                &.scroll-right {

                    .slide {
                        .transition(1s ease-in-out);

                        &.previous {
                            .transform(translateX(-120%));
                            .opacity(0);
                        }

                        &.visible {

                        }

                        &.next {
                            .transform(translateX(120%));
                            .opacity(0);
                        }
                    }
                }

                &.zoom {

                    .slide {
                        .transition(1s ease-in-out);

                        &.previous {
                            .transform(scale(1.5));
                            .opacity(0);
                        }

                        &.visible {

                        }

                        &.next {
                            .transform(scale(0.5));
                            .opacity(0);
                        }
                    }
                }

                &.flip {

                    .slide {
                        .transitions(0.5s transform ease-in-out, 1s opacity);

                        &.previous {
                            .transform(rotate3d(0, 1, 0, -90deg));
                            .opacity(0);
                        }

                        &.visible {

                        }

                        &.next {
                            .transform(rotate3d(0, 1, 0, 90deg));
                            .opacity(0);
                        }
                    }
                }

                &.cube {

                    .slide {
                        .transitions(0.5s ease-in-out);

                        &.previous {
                            .transform(translateX(-100%) rotateY(-90deg));
                            .opacity(0);
                        }

                        &.visible {

                        }

                        &.next {
                            .transform(translateX(100%) rotateY(90deg));
                            .opacity(0);
                        }
                    }
                }

                &.carousel {

                    .slide {
                        .transitions(0.5s transform ease-in-out, 1s opacity);

                        &.previous {
                            .transform(translate3d(-70%, 0, -500px));
                            .opacity(0);
                        }

                        &.visible {

                        }

                        &.next {
                            .transform(translate3d(70%, 0, -500px));
                            .opacity(0);
                        }
                    }
                }

                .footer {
                    margin-top: 50px;
                    border-top: 1px solid #000;
                    display: none;
                    text-align: center;
                }

                &.zoomed {

                    .slide {

                        * {
                            color: #ccc;
                        }

                        strong {
                            color: #f00;
                            font-size: 2em;
                        }
                    }
                }
            }
        }

        #presentation-loading {
            position: fixed;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #1b4048;
            z-index: 5;
            .transition(0.5s);

            &.loading {
                top: 0;
            }

            #presentation-loading-content {
                text-align: center;
                position: relative;
                top: 50%;
                .transform(translateY(-50%));

                #presentation-loading-animation {
                    position: relative;
                    width: 160px;
                    height: 120px;
                    left: 50%;
                    .transform(translateX(-30%) rotate3d(1, -1, 0, 30deg));
                    .transformStyle(preserve-3d);
                    .perspective(500px);

                    .sheet {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: #35a5ab;
                        animation-name: lift;
                        animation-duration: 2s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                        .opacity(0);

                        &.sheet-one {
                            animation-delay: 1.5s;
                        }

                        &.sheet-two {
                            animation-delay: 1s;
                        }

                        &.sheet-three {
                            animation-delay: 0.5s;
                        }

                        &.sheet-four {
                            animation-delay: 0s;
                        }
                    }
                }

                #presentation-loading-text {
                    margin-top: 15px;
                    color: #fff;
                }
            }
        }
    }

    #controller-page {
        height: 100%;

        #stage {
            display: table;
            width: 100%;
            height: 100%;

            #stage-controls {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                width: 100%;
                height: 100%;

                #presentation-code-label {

                }

                #presentation-code-input {
                    width: 50%;
                    height: 30px;
                    font-size: 24px;
                    line-height: 30px;
                    text-align: center;
                    margin: 10px;
                }

                #connect-button {

                }
            }
        }

        #controller {
            height: 100%;

            #controller-presentation-view {
                height: 70%;
                font-size: 0.5em;
                background-color: #fff;
                overflow-y: scroll;

                .slide {
                    padding: 5px;
                    border: 1px solid #777;
                    .opacity(0.3);

                    img {
                        display: none;
                    }

                    h1,
                    h2,
                    h3 {
                        display: block;
                        margin: 0;
                        padding: 0;
                    }

                    &.active {
                        background: #ddd;
                        border-color: #0f0;
                        .opacity(1);

                        &+ .slide {
                            .opacity(1);
                        }
                    }
                }
            }

            #controller-screen-container {
                position: fixed;
                top: 70%;
                left: 0;
                width: 100%;
                height: 50px;

                #presentation-progress-bar-container {
                    position: relative;
                    height: 20px;
                    .background-gradient-twoColor(#444, #222);
                    border-top: 5px solid #777;

                    #presentation-progress-bar {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 20px;
                        .background-gradient-twoColor(#0f0, #070);
                        .transition(1s);
                    }
                }

                #controller-screen {
                    height: 25px;
                    line-height: 25px;
                    text-align: center;
                    background-color: #040;
                    color: #0f0;
                    box-shadow: 0 0 15px 0 #0f0 inset;

                    .presentation-detail {

                    }
                }
            }

            #controller-controls {
                .box-sizing(border-box);
                height: 30%;
                padding-top: 50px;
                background-color: #000;

                .control-row {
                    height: 50%;

                    .presentation-control-button {
                        float: left;
                        .box-sizing(border-box);
                        border: 5px solid #000;
                        width: 25%;
                        height: 100%;
                        text-align: center;
                        .background-gradient-twoColor(#000, #444);
                        color: #fff;
                        cursor: pointer;
                        .round-borders(10px);

                        span {
                            position: relative;
                            top: 50%;
                            .transform(translateY(-50%));
                        }

                        &.active {
                            .background-gradient-twoColor(#fff, #ccc);
                            color: #000;
                        }

                        &:hover {
                            .background-gradient-twoColor(#444, #888);
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

@media print {
    height: auto;

    body {
        height: auto;
        overflow: visible;
        background-color: transparent;

        #page {
            height: auto;

            .canvas {
                height: auto;

                #home-page {

                }

                #presentation-page {

                    #top-panel {
                        display: none;
                    }

                    #stage-container {
                        display: none;
                    }

                    #presentation-container {
                        background-color: #fff;

                        #presentation {

                            .slide {
                                position: static;
                                height: auto;
                                padding: 0 !important;
                                .opacity(1) !important;
                                overflow: visible !important;
                                box-shadow: none !important;
                                border: none !important;
                                .transform(none) !important;

                                &.first-slide {
                                    display: none;
                                }

                                &.last-slide {
                                    display: none;
                                }
                            }

                            .footer {
                                display: inherit;
                            }

                            &.zoomed {

                                .slide {

                                    * {
                                        color: #000;
                                        font-size: inherit;
                                    }
                                }
                            }
                        }
                    }
                }

                #controller-page {

                }
            }
        }
    }
}

@keyframes lift {
    0% {
        .translateZ(0px);
        opacity: 0;
    }

    80% {
        .translateZ(100px);
        opacity: 1;
    }

    100% {
        .translateZ(200px);
        opacity: 0;
    }
}
